<%= form_with(model: photo, local: true, :html =>  { :multipart => true }) do |form| %>
  <% if photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
      <% photo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :user_id, :value => current_user.id %>
  <%= form.hidden_field :park_id, :value => params[:park_id] %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :photo_name %>
  </div>

  <div class="field">
    <%= form.label :caption %>
    <%= form.text_field :caption, id: :photo_caption %>
  </div>

<!---
  <div class="field">
    <%= form.label :avatar %>
    <%= form.file_field :avatar, id: :post_avatar %>
  </div>
---> 

  <div class="field">
    <%= form.collection_check_boxes :category_ids, Category.all, :id, :name %><br>
  </div>
  
  <div class="field">
    <!--
    <label for="photo_category_attributes_0_name">New Tag Name</label>
    <input type="text" name="photo[category_attributes][][name]" id="post_tag_attributes_0_name">
    -->
    <%= form.fields_for :categories, @photo.categories.build do |categories_fields| %>
      <%= categories_fields.label :name %><br>
      <%= categories_fields.text_field :name %><br>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
