<p id="notice"><%= notice %></p>

<h3>Photos</h3>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

<!---
  <tbody>
    <% @photos.each do |p|
      <tr>
        <td><%= post.name %></td>
        <td><%= post.caption %></td>
        <td><%= link_to 'Show', p %></td>
        <td><%= link_to 'Edit', edit_photo_path(p) %></td>
        <td><%= link_to 'Destroy', p, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Photo', new_photo_path %>
