<h3><%= @photo.name %></h3>

<p>
  <strong>Caption:</strong>
  <%= @photo.caption %>
</p>

<p>
  <strong>Park:</strong>
  <%= @photo.park.name %>
</p>







<p>
  <strong>Categories:</strong>
  <ul>
  <% @photo.categories.each {|p| %>
  <li><%= p.name %></li>
  <% } %>
  </ul>
</p>

<p>
  <% if !!@photo.image.url %>
    <%= image_tag(@photo.image.url) %>
  <% end %>
</p>

<p>How do I determine what path to use? park_photo or photo?</p>

<%= link_to 'Edit', edit_park_photo_path({park_id: params[:park_id], id: @photo.id}) %> |
<%= link_to 'Back', @photo.park %>
