<!DOCTYPE html>
<html>
  <head>
    <title>ParkExplorer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p id="notice"><%= notice %></p>
    
    <%= yield %>
    
  
  <br>
  <br>
  <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
  <hr>
  <b>Debugging</b><br>
  Params<br>
  <%= params %><br>
  Session<br>
  Current User:<br>
  <%= current_user %><br>
  <% if current_user %>
  <%= current_user.id %>
  <% end %>
  
  <br><strong>Admin Options</strong>
  
  </body>
</html>
