<!DOCTYPE html>
<html>
  <head>
    <title>ParkExplorer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
 
    <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>
    
    
    <%= yield %>
    
  
  <br>
  <br>
  <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
  <hr>
  <b>Debugging</b><br>
  Params<br>
  <%= params %><br>
  Session<br>
  <%= session.id %><br>
  <br>
  <% if current_user %>
  <strong>Current User</strong>
  ID: <%= current_user.id %><br>
  Role: <%= current_user.role %>
  <% end %>
  
  
  
  </body>
</html>
