<!DOCTYPE html>
<html>
  <head>
    <title>ParkExplorer</title>
    <style>
      body {font-family:Tahoma, Geneva, sans-serif}
    </style>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Park Explorer</h1>
   <% if current_user %>
     <div >Current Login: <%= current_user.email %> | Role: <%= current_user.role %></div>
     <div ><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></div>
   <% end %>
 
    <% if flash[:notice] %>
      <p class="notice" style="background-color:green;color:white"><%= flash[:notice] %></div>
    <% end %>
    
    <% if flash[:alert] %>
      <p class="alert" style="background-color:red;color:white"><%= flash[:alert] %></div>
    <% end %>
    
    <%= yield %>
    
  

  <br><br>
  <hr>
  <div style="font-size:10px;">
  <b>Debugging</b><br>
  Params<br>
  <%= params %><br>
  Session<br>
  <%= session.id %><br>
  </div>
  
  
  
  
  
  
  
  
  </body>
</html>
